# =========================
# Data & Outputs
# =========================
data/*
outputs/*
# =========================
# Models
# =========================
*.pkl
*.model
*.h5
*.pt

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs & Temp
# =========================
logs/
*.log
tmp/
temp/

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# submissions
# =========================
*.csv