# 데이터 / 모델 / 출력 (GitHub 업로드 제외)
data/
models/
outputs/
catboost_info/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# 환경
.env
.venv/
venv/

# 시스템
.DS_Store
*.log

# 가상환경
venv/

# 이미지 파일
notebooks/images/*
